body 
{
  margin: 0;
  padding: 0;
  background-color: #99E1D9;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='95' height='95' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2376bdb6' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");*/
  height: 100vh;
  overflow: hidden;
}

a { 
color: blue; 
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 1% 1%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
}

#contact-page a {
   color: red;
}

#loginDiv
{
  height: 500px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 10px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

#loggedInDiv
{
    font-size: 15px;
    width: 16%;
    margin-left: 80.5%;
    padding: 0px;
}

#modalRegisterForm
{
  height: 500px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 100px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

#accessUIDiv
{
    border: black;
    font-size: 30px;
    width: 100%;
    margin-left: 0%;
    padding: 0px;
    border-top: 2px solid rgba(255,255,255,0.1);
    border-bottom: 2px solid rgba(255,255,255,0.1);
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.buttons
{
  width: 80%;
  height: 65px;
  border: none;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 3%;
  background: #70abad;
  border-radius: 7px;
  font-size: 22px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  opacity: 0.6;
  transition: 0.3s;
}

.buttons:hover{
  opacity: 1;
  transition: .5s;
}

#loginName
{
	font-size: 23px;
}
#loginPassword
{
	font-size: 23px;
}
#registerName
{
	font-size: 23px;
}
#registerPassword
{
	font-size: 23px;
}
#firstName
{
	font-size: 23px;
}
#lastName
{
	font-size: 23px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}
#accountText
{
  font-size: 16px;
}
#passwordText
{
  font-size: 16px;
}

label {
  display: block;
  margin-top: 30px;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

input[type="text"]{
  border: none;
  border-bottom: 2px solid black;
  display: block;
  height: 50px;
  width: 95%;
  background-color: transparent;
  padding: 0 10px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

input[type="password"]{
  border: none;
  border-bottom: 2px solid black;
  display: block;
  height: 50px;
  width: 95%;
  background-color: transparent;
  padding: 0 10px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 56px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    text-shadow: 3px 3px #f0f7f4;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0%;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

#register-title{
    display: inline-block;
    font-size: 1.5em;
    width: 40%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Poppins", sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
  width: 50%;
  height: 30px;
  border: 1px solid;
  margin-left: 26%;
  background: #000000;
  border-radius: 7px;
  font-size: 18px;
  color: #e9f4fb;
  /*font-weight: 700;*/
  cursor: pointer;
  outline: none;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: "Poppins", sans-serif;
}

#contactSearchResult{
    font-family: "Poppins", sans-serif;
    color: #9f00bf;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: "Poppins", sans-serif;
    color: #95060a;
}
